.mainCarousel-container {
    display: flex;
    width: 97vw;
    justify-content: space-between;
    position: relative;
}

.mainCarousel-backButton {
    border: 1px solid black;
    width: 50px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainCarousel-forwardButton {
    border: 1px solid black;
    width: 50px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainCarousel-backButton-container {
    position: absolute;
}

.mainCarousel-forwardButton-container {
    position: absolute;
    right: 0;
}

.mainCarousel-image {
    width: 100%;
    height: 40vh;
}
