.mainCarousel-backButton {
    border: 1px solid black;
    width: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainCarousel-forwardButton {
    border: 1px solid black;
    width: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
