:root {
    --shinanoMain: #ffb7c5;
}

.border-black {
    border: 2px solid black
}

.border-blue {
    border: 2px solid blue
}

.border-green {
    border: 2px solid green
}

.border-red {
    border: 2px solid red
}

.hidden {
    display: none;
}

.cart-item-num {
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.shinano-color-background {
    background-color: var(--shinanoMain);
}

.shinano-color-text {
    color: var(--shinanoMain)
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.errors {
    color: red;
}

.padding5 {
    padding: 5px;
}

.margin2 {
    margin: 2px;
}

.display-flex {
    display: flex
}

.direction-column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.alignItem-center {
    align-items: center;
}

.button-small {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color:  var(--shinanoMain);
}
.button-small:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color:  var(--shinanoMain);
    box-shadow: 2px 4px 2px gray;
}

.button-full {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color:  var(--shinanoMain);
}
.button-full:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: var(--shinanoMain);
    box-shadow: 2px 4px 2px gray;
}

.button-disabled {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: lightgray;
    cursor: not-allowed;
}
