.single-product-page-container {
    display: flex;
    justify-content: center;
}

.single-product-container {
    display: flex;
    /* flex-direction: column */
    justify-content: space-between;
    width: 90vw;
    height: 80vh;
}

.single-product-main-image {
    width: 80%;
    height: 70%;
    background-color: lightgray;
}

.single-product-sub-images-container {
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    height: 20%
}

.single-product-sub-single-image-container {
    display: flex;
    justify-content: center;
    border: 1px solid red;
    width: 30%;
    margin: 2px;
}

.single-product-image-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 25%;
    height: 50%;
}

.single-product-image-mini-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    width: 100%;
    margin-top: 2px;
}

.single-product-info-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

.single-product-desc-container {
    overflow: auto;
}
.single-product-desc-container::-webkit-scrollbar {
    display: none;
}

.single-product-header-container {
    display: flex;
    justify-content: space-between;
}

.single-product-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 50%;
}

.single-product-owner-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


.box {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 20%;
}
