.single-product-page-container {
    display: flex;
    /* flex-direction: column */
    justify-content: space-around;
}

.single-product-image-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 40vh;
}

.single-product-cart-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 50vh;
}
