.single-product-page-container {
    display: flex;
    justify-content: center;
}

.single-product-container {
    display: flex;
    /* flex-direction: column */
    justify-content: space-between;
    width: 90vw;
    height: 80vh;
}

.single-product-main-image {
    width: 80%;
    height: 70%;
    background-color: lightgray;
}

.single-product-sub-images-container {
    width: 80%;
    height: 20%
}

.single-product-sub-single-image-container {
    border: 1px solid red;
    width: 33%
}

.single-product-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 50%;
}

.single-product-image-mini-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
}

.single-product-info-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

.single-product-header-container {
    display: flex;
    justify-content: space-between;
}

.single-product-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 50%;
}

.single-product-owner-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


.box {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 20%;
}
