.single-product-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-product-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 90vw;
    height: 50vh;
    margin-top: 50px;
}

.single-product-sub-images-container {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    height: 20%
}

.single-product-sub-single-image-container {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 2px;
}

.single-product-image-mini-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    width: 100%;
    margin-top: 2px;
}

.single-product-info-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin-left: 20px;
    height: 295px;
}

.single-product-desc-container {
    overflow: auto;
    height: 800px;
}

.single-product-header-container {
    display: flex;
    justify-content: space-between;
}

.single-product-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 30%;
    border: 5px solid var(--shinanoMain);
    border-radius: 5px;
}

.single-edit-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 20%;
    border: 5px solid var(--shinanoMain);
    border-radius: 5px;
}


.single-product-user-buttons {
   margin: 5px;
   width: 90%;
}

.single-product-owner-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.single-product-edit-buttons-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.box {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 20%;
}
