.homepage-single-product-container {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 200px;
    height: 300px;

}


.single-product-container-image-width {
    width: 200px;
    height: 200px;
}

.single-product-container-name-overflow {
    height: 20px;
    overflow: hidden;
}
