.homepage-single-product-container {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 20vw;
}

.single-product-container-image-width {
    width: 70%
}
