.cart-modal {
    background-color: whitesmoke;
    width: 20vw;
    height: 90vw;
    position: fixed;
    right: 0;
    top: 80px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: auto;
}
