.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-background {
  background-color: aqua;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
