.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  width: 100vw;
  height: 110px;
  margin: 0px;
  padding: 0px;
}

.nav-logo
{
  width: 150px;
  height: 90px;
  margin-left: 15px;
}
.nav-logo:hover {
  width: 150px;
  height: 90px;
  margin-left: 15px;
  border: 2px solid white;
}

.nav-cart {
  width: 50px;
  height: 50px;
}
.nav-cart:hover {
  width: 50px;
  height: 50px;
  border: 2px solid white;
}
