

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  width: 100vw;
  height: 110px;
  margin: 0px;
  padding: 0px;
}

.nav-logo
{
  width: 150px;
  height: 90px;
  margin-left: 15px;
}
.nav-logo:hover {
  width: 150px;
  height: 90px;
  margin-left: 15px;
  border: 2px solid white;
}

.nav-cart {
  width: 50px;
  height: 50px;
}

.nav-bar-cart-item-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 70px;
 padding: 10px;
}

.cart-hover:hover {
  border: 2px solid white;
}

.nav-prof-cart-container {
  display: flex;
  margin-right: 4rem;
  width: 200px;
  justify-content: space-around;
}

.nav-bar-info-container{
  font-family: var(--shinanoText);
  font-weight: lighter;
  color: white;
  width: 100px;
  /* padding: 10px; */
  margin-right: 20px;
}
.nav-bar-info-container:hover {
  border: 2px solid white;
}

.nav-bar-signed-out-text {
  display: flex;
  text-align: center;
  font-family: var(--shinanoText);
  font-weight: bold;
  font-size: large;
  color: white;
  width: 100px;
}

.nav-bar-start-cart-button {
  background: white;
  color: var(--shinanoMain);
  font-weight: bold;
  font-size: 19px;
}
.nav-bar-start-cart-button:hover {
  background: var(--shinanoMain);
  color: white;
  font-weight: bold;
  font-size: 19px;
}
