.home-page {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.homepage-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.homepage-margin-product {
    margin: 15px;
}

.homepage-product{
    display: flex;
    justify-content: center;
}

.homepage-product:hover{
    box-shadow: 0px 0px 5px 2px pink;
}

.homepage-footer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.homepage-footer-item-container {
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgray;
    margin: 10px;
    width: 70vw;
}

.homepage-footer-item {
    margin: 10px;
    padding: 10px;
    color: black;
    /* background: var(--shinanoMain); */
    /* border-radius: 15px; */
}
.homepage-footer-item:hover {
    margin: 10px;
    padding: 10px;
    color: black;
    background: var(--shinanoMain);
    border-radius: 15px;
}
