.single-product-image-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.single-product-mini-image-container {
    display: flex;
    flex-direction: column;
}

.single-product-main-image {
    width: 200px;
    height: 300px;
    background-color: lightgray;
}

.single-product-mini-image {
    width: 40px;
    height: 40px;
    margin: 2px;
    background-color: lightgray;
    border: 1px solid black;
}
.single-product-mini-image:hover {
    width: 40px;
    height: 40px;
    margin: 2px;
    box-shadow: 0px 0px 4px 2px var(--shinanoMain);
    border: 1px solid black;
    background-color: lightgray;
}
