.single-product-image-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.single-product-mini-image-container {
    display: flex;
    justify-content: center;
}

.single-product-main-image {
    width: 200px;
    height: 300px;
    background-color: lightgray;
}

.single-product-mini-image {
    width: 70px;
    height: 70px;
    background-color: lightgray;
}
