.single-product-image-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.single-product-mini-image-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    height: 300px;
    overflow: auto;
}
/* .single-product-mini-image-container::-webkit-scrollbar {
    display: none;
} */
.single-product-mini-image-container::-webkit-scrollbar {
    width: 5px;
}
.single-product-mini-image-container::-webkit-scrollbar-track {
    background: white;
}
.single-product-mini-image-container::-webkit-scrollbar-thumb {
    background: var(--shinanoMain);
}
/* .single-product-mini-image-container::-webkit-scrollbar-thumb:hover {
    background: var(--shinanoMain);
} */

.single-product-main-image {
    width: 300px;
    height: 300px;
    background-color: lightgray;
}

.single-product-mini-image {
    width: 40px;
    height: 40px;
    margin: 4px;
    background-color: lightgray;
    border: 1px solid black;
}
.single-product-mini-image:hover {
    width: 40px;
    height: 40px;
    margin: 4px;
    box-shadow: 0px 0px 4px 2px var(--shinanoMain);
    border: 1px solid black;
    background-color: lightgray;
}
