.comment-component-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
}

.comment-container {
    margin: 5px;
}

.comment-buttons {
    display: flex;
    justify-content: center;
}

.comment-buttons-margin {
    margin: 2px;
}
