.comment-component-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-bottom: 10px;
}

.comment-container {
    margin: 5px;
    margin-left: 15px;
}

.comment-buttons {
    display: flex;
    justify-content: center;
}

.comment-buttons-margin {
    margin: 2px;
}

.comment-add-comment-width {
    width: 120px;
}
