.shopping-cart-page-container {
    display: flex;
    justify-content: center;
}

.shopping-cart-page-info {
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
}

.shipping-cart-text-container {
    margin-left: 10px;
}

.shopping-cart-container {
    width: 60vw;
    margin-right: 50px;
}

.shopping-cart-product-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 15px;
}

.shopping-cart-bold {
    font-weight: bold;
}

.shopping-cart-checkout-container {
    width: 15vw;
}

.shopping-cart-image {
    width: 120px;
    height: 160px
}
